NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/finance_db?schema=public"

JWT_ACCESS_SECRET=your_super_secret_access_key_min_32_chars
JWT_REFRESH_SECRET=your_super_secret_refresh_key_min_32_chars
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
